// Variables
@import 'variables';

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

thead{
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6) ;

    td,th {
        padding: 10px 0;
        font-weight: normal ;
    }
}

td:first-child {
    content: '';
    width: 15%;
    border-bottom: none;
}

td:last-child {
    content: '';
    width: 15%;
    border-bottom: none;
}

tbody{
    td,th {
        padding: 24px 5px;
        border-bottom: 1px solid rgba(38, 41, 46, 0.2);
    }
}

.flash-message {
    position: absolute;
    top: -80px;
    left: 50%;
    transition: all 0.5s cubic-bezier(0.59,-0.48, 0.31, 1.75);
    transform: translate(-50%);
    z-index: 99;

    &.active{
        top: 10px;
    }
}
